html {
    scroll-behavior: smooth;
}

.alert-success {
    background: #006688 !important;
    color: whitesmoke !important;
}

.flash-button {
    animation: shake 1300ms infinite;
    font-weight: bold;
    color: whitesmoke !important;
}

h1.label,
h2.label {
    background-color: rgb(117, 103, 186);
    color: whitesmoke;
    animation: shake 1300ms infinite;
}

label {
    color: white;
    background: rgb(2, 156, 226);
    padding: 3px;
}

pre {
    font-weight: bolder;
    line-height: 1.7rem;
    font-size: 100% !important;
}

.l-heading {
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
    font-weight: bolder;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#app {
    overflow: hidden;
}

nav div.container a.navbar-brand {
    font-weight: bolder;
    color: rgb(2, 156, 226);
}

#showcase {
    background: url('../images/background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    overflow: hidden;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(225, 88, 79, 0.7);
}

@keyframes glowing {
    0% {
        background-color: rgb(225, 88, 79);
        box-shadow: 0 0 5px rgb(130, 2, 99);
    }
    50% {
        background-color: rgb(225, 88, 79);
        box-shadow: 0 0 20px rgb(130, 2, 99);
    }
    100% {
        background-color: rgb(2, 156, 226);
        box-shadow: 0 0 5px rgb(130, 2, 99);
    }
}

@keyframes shake {
    0% {
        background-color: rgb(225, 88, 79);
        box-shadow: 0 0 5px rgb(130, 2, 99);
        transform: rotate(1deg);
    }
    50% {
        background-color: rgb(225, 88, 79);
        box-shadow: 0 0 20px rgb(130, 2, 99);
        transform: rotate(2deg);
    }
    100% {
        background-color: rgb(2, 156, 226);
        box-shadow: 0 0 5px rgb(130, 2, 99);
        transform: rotate(3deg);
    }
}

@media (max-width:500px) {
    .l-heading {
        font-size: 2.25rem;
    }
    ul {
        position: relative;
        z-index: 2000000000000;
    }
    div#navbarSupportedContent {
        margin-top: 20px;
    }
    label {
        margin-bottom: 1rem !important;
    }
}
